*{
    margin: 0;
}

#head-image {
    height: 100px;
    background-color: #4ea0ff;
    background-image: url("../img/pattern.png");
    background-size: 30%;
}

#logo{
    width: 11em;
    position: relative;
    margin-top: 40px;
    padding: 5px;
}