*{
    margin: 0;
}

#head-image {
    height: 100px;
    background-color: #4ea0ff;
    background-image: url("../img/pattern.png");
    background-size: 30%;
}

#logo{
    width: 11em;
    position: relative;
    margin-top: 40px;
    padding: 5px;
}

main{
    padding: 5px;
}

#title{
    font-size: 35px;
}

#source{
    color: grey;
}

.link{
    color:#32afe6;
}

article p:nth-child(4){
    font-size: 10px;
    color: gray;
}

.description{
    font-size: 10px;
}

.highlight{
    background-color: #ffff00;
}

ul {
    padding-left: 15px;
}